.intro {
  font-family: "Fira Code", monospace;
  width: 70%;
  // height: 60vh;
  margin: auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.hi-msg {
  animation: 1.5s ease-out 1s 1 slideInFromLeft;
  margin-left: 6px;
  margin-top: 4em;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #64ffda;
  letter-spacing: 0.03em;
}

.name {
  animation: 1.5s ease-out 1.2s 1 slideInFromLeft;
  font-size: 60px;
  color: #ccd6f6;
  margin: 0;
  letter-spacing: 0.1em;
}

.passion {
  animation: 1.5s ease-out 1.4s 1 slideInFromLeft;
  font-size: 45px;
  margin-top: 0;
  padding-top: 10px;
  color: #8892b0;
}

.small-story {
  animation: 1.5s ease-out 1.6s 1 slideInFromLeft;
  max-width: 600px;
  font-size: 20px;
  color: #8892b0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.contact-icons {
  // margin-top: 2em;
  color: #ccd6f6;
}

.test {
  margin: 6em;
  // margin: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  // display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ccd6f6;
}
// .github::before {
//   Content: "";
//   width: 300px;
//   height: 90px;
//   background-color: #ccd6f6;
//   color: #ccd6f6;
// }
